<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bkunz.mybatisonly.dao.RequireBillLogMapper">
    <select id="findAll" resultType="RequireBillLog">
        select * from t_pm_requirebilllog
    </select>
    <update id="update">
        update t_pm_requirebilllog set reason=#{reason} where id=#{id}
    </update>
    <insert id="insertList">
        insert into t_pm_requirebilllog(billId, reason, oldCheckDate, newCheckDate, userId)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.billId}, #{item.reason}, #{item.oldCheckDate}, #{item.newCheckDate}, #{item.userId})
        </foreach>
    </insert>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_pm_requirebilllog(billId, reason, oldCheckDate, newCheckDate, userId)
        values (#{billId}, #{reason}, #{oldCheckDate}, #{newCheckDate}, #{userId})
    </insert>
    <delete id="deleteBetween">
        delete from t_pm_requirebilllog
        where id >= #{minId} and id <![CDATA[<=]]> #{maxId}
    </delete>
</mapper>